<div class="page_head">
  <%= render 'detail', quest: @quest %>
</div>
<div>
  <%= render 'comments_header',
    positive_comments_num: @positive_comments.length,
    negative_comments_num: @negative_comments.length,
    question_comments_num: @question_comments.length %>
  <%= render 'comments_main',
    positive_comments: @positive_comments,
    negative_comments: @negative_comments,
    question_comments: @question_comments %>
</div>
