<div class="my-3 border-bottom" data-parent-comment-id="<%= comment.id %>">
  <%= render 'comments/comment', comment: comment%>
  <div class="ml-4 comment_children">
    <% comment.children.each do |child_comment| %>
      <%= render 'comments/comment', comment: child_comment %>
    <% end %>
  </div>
</div>