
.page_head {
  background-color: #F5F9FD;
}

.navbar-toggler {
  &:focus {
    outline: 0;
  }
}

.review_header {
  position: relative;
  width: 95vw;
  font-size: 14px;
  
  @media (min-width: 526px) {
    width: 500px;
    font-size: 15px;
  }

}

.review_header_bar {
  position: absolute;
  height: 2px;
  width: 33.3%;
  bottom: -2px;
  background-color: black;
  left: 0%;
}

.review_content_button {
  border: none;
  text-align: center;
  padding: 5px 0;
  
  &:focus {
    outline: 0;
  }
}

.active_button {
  font-weight: bold;
}

.inactive_button {
  color: #949faf;
}

.comment_container_container {
  width: 95vw;
  
  @media (min-width: 526px) {
    width: 500px;
  }
}

.comment_container {
  position: relative;
  //width: 500px;
  
  display: -webkit-box;
  
  transition: transform(0.35s);
  //transform: translate(-100%, 0px);
  
  width: 95vw;
  
  @media (min-width: 526px) {
    width: 500px;
  }
}

.comment {
  width: 95vw;
  
  @media (min-width: 526px) {
    width: 500px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 13px;
  border-radius: 50%;
  background-color: #2E88FB;
}

.icon-red {
  background-color: #EB6566;
}

.icon-yellow {
  background-color: #F3A533;
}

.comment_hide {
  display: none;
}

.image_icon {
  width: 32px;
  height: 32px;
}

.image_icon_margin {
  margin-left: 32px;
}

.comment_edit_form {
  display: none;
}

.reply_form {
  display: none;
}

.comment_icon {
  color: #007bff;
  border: none;
  padding: 0;
  
  &:hover {
    color: #0056b3;
  }
  
  &:focus {
    outline: 0;
  }
}

.quest_order {
  background-color: #FDFDFC;
}

.quest_form {
  width: 95vw;
  
  @media (min-width: 526px) {
    width: 500px;
  }
}

