
.page_head {
  background-color: #F5F9FD;
}

.review_header {
  position: relative;
  width: 500px;
}

.review_header_bar {
  position: absolute;
  height: 2px;
  width: 33.3%;
  bottom: -1px;
  background-color: black;
  left: 0%;
}

.review_content_button {
  border: none;
  text-align: center;
  padding: 10px 0;
  
  &:focus {
    outline: 0;
  }
}

.comment_container_container {
  width: 500px;
}

.comment_container {
  position: relative;
  width: 500px;
  left: 500px;
  
  display: -webkit-box;
  
  transition: transform(0.35s);
  //transform: translate(-100%, 0px);
}

.sticky_test {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 13px;
  border-radius: 50%;
  background-color: #2E88FB;
}

.icon-red {
  background-color: #EB6566;
}

.icon-yellow {
  background-color: #F3A533;
}

.comment_hide {
  display: none;
}

.image_icon {
  width: 32px;
  height: 32px;
}
